/* Variables.less
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */


@gridWidth: 43px;

@textColor: #211e1f;
@subColor: #666;
@lightColor: #bbb;

@linkColor: #e24449;
@linkColorHover: #e24449;

@white_arrow: url( ../images/white_arrow.png);

@menu_width_break: 800px;

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('types/ProximaNovaSoft-Regular-webfont.eot');
    src: url('types/ProximaNovaSoft-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('types/ProximaNovaSoft-Regular-webfont.woff') format('woff'),
         url('types/ProximaNovaSoft-Regular-webfont.ttf') format('truetype'),
         url('types/ProximaNovaSoft-Regular-webfont.svg#ProximaNovaSoft-Regular-webfont') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('types/ProximaNovaSoft-Medium-webfont.eot');
    src: url('types/ProximaNovaSoft-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('types/ProximaNovaSoft-Medium-webfont.woff') format('woff'),
         url('types/ProximaNovaSoft-Medium-webfont.ttf') format('truetype'),
         url('types/ProximaNovaSoft-Medium-webfont.svg#ProximaNovaSoft-Medium-webfont') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('types/ProximaNovaSoft-Semibold-webfont.eot');
    src: url('types/ProximaNovaSoft-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('types/ProximaNovaSoft-Semibold-webfont.woff') format('woff'),
         url('types/ProximaNovaSoft-Semibold-webfont.ttf') format('truetype'),
         url('types/ProximaNovaSoft-Semibold-webfont.svg#ProximaNovaSoft-Semibold-webfont') format('svg');
    font-weight: 600;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('types/ProximaNovaSoft-Bold-webfont.eot');
    src: url('types/ProximaNovaSoft-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('types/ProximaNovaSoft-Bold-webfont.woff') format('woff'),
         url('types/ProximaNovaSoft-Bold-webfont.ttf') format('truetype'),
         url('types/ProximaNovaSoft-Bold-webfont.svg#ProximaNovaSoft-Bold-webfont') format('svg');
    font-weight: 700;
}
 

@proximanova: "Proxima Nova Soft", Arial, sans-serif;
@headFont: "brandon-grotesque",Brandon Grotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
@subheadFont: "brandon-grotesque",Brandon Grotesque, Helvetica Neue, Helvetica, Arial, sans-serif;

